<div class="navbar navbar-expand-md navbar-light skint-nav">
    <a href="/"><img class="skint-unobtrusive-img navbar-brand" src="/inkscape/logoPlaceholder.svg" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#skint-navbar-collapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="skint-navbar-collapse">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    About
                </a>
                <ul class="dropdown-menu dropdown-menu-skint">
                    <a class="dropdown-item" href="/">About the Festival</a>
                    <!-- <a class="dropdown-item" href="/committee">The Committee</a> -->
                    <a class="dropdown-item" href="/constitution">The Constitution</a>
                </ul>
            </li>
            <li class="nav-item"><a href="/booking">Booking</a></li>
            <li class="nav-item"><a href="/usefulinfo">Useful Info</a></li>
            <li class="nav-item"><a href="/gettinghere">Getting here</a></li>
            <li class="nav-item"><a href="/resources">Resources</a></li>
        </ul>
    </div>
</div>