<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Skint Dance - International Dance and Music Weekend</title>

    {{ if .Site.Params.favicon}}
    <link rel="shortcut icon" type="image/x-icon" href="/{{ .Site.Params.favicon}}" />
    {{ end }}

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/site.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
    {{ block "header" .}}{{ partial "site-header.html" .}}{{ end }}
    {{ block "nav" .}}{{ partial "site-nav.html" .}}{{ end }}
    <div class="container-fluid skint-container">
        <main>
            {{ block "main" .}}{{end}}
        </main>
    </div>
    {{ block "footer" .}}{{ partial "site-footer.html" .}}{{ end }}
    {{ block "scripts" .}}{{ partial "site-scripts.html" .}}{{ end }}
</body>

</html>