---
import Layout from "../layouts/Layout.astro";
import DatesAndBooking from "../components/DatesAndBooking.astro";

import dancing1 from "../img/frontPage/dancing1.jpg";
import music from "../img/frontPage/music1.jpg";
import food from "../img/frontPage/food2.jpg";
import games from "../img/frontPage/funAndGames.jpg";
---

<Layout
  hero="A warm, budget-friendly Scandi and International folk weekend in the Peaks, where everyone pitches in to help"
>
  <DatesAndBooking />

  <div>
    <div class="row striped py-3">
      <div class="col-md-6 order-md-last">
        <img src={dancing1} class="img-fluid p-2 rounded" />
      </div>
      <div class="col-md-6">
        <h3>Dancing</h3>
        Skint is above all a dance festival. We revel in all forms of dancing from
        around the world but have a special love for Scandinavian and French. Whether
        it's a twirly polska, a slinky mazurka, or a flowing contra, we have them
        all. We teach the dances during the day and then dance until we drop in the
        evening.
      </div>
    </div>
    <div class="row striped py-3">
      <div class="col-md-6">
        <img style="float: right" src={music} class="img-fluid p-2 rounded" />
      </div>
      <div class="col-md-6">
        <h3>Music</h3>
        What would dancing be without music? At Skint we aim to have 100% live music
        all the time and all our live musicians are volunteers - We're here for the
        love of the music and the dance. Our evening bals have a variety of groups
        and scratch bands with everyone joining in. There are music workshops and
        informal sessions throughout the day.
      </div>
    </div>
    <div class="row striped py-3">
      <div class="col-md-6 order-md-last">
        <img src={food} class="img-fluid p-2 rounded" />
      </div>
      <div class="col-md-6">
        <h3>Food</h3>
        The meals of Skint are one of the highlights of the festival. It's a time
        when almost the entire festival is in one room, sharing one meal, and enjoying
        the company. The food itself is consistently amazing, having been prepared
        by festival-goers themselves. Just make sure you grab the midnight snack
        before it goes!
      </div>
    </div>
    <div class="row striped py-3">
      <div class="col-md-6">
        <img src={games} class="img-fluid p-2 rounded" />
      </div>
      <div class="col-md-6">
        <h3>Games and silliness</h3>
        Skint is not above some little silliness. We enjoy breaking the ice with
        some form of game on the first night. And the games, and silliness, tend
        to creep across the entire festival. Whether it's trolls chasing wizards,
        passing round the boot, or simply singing silly songs, we make sure that
        everyone has a good time.
      </div>
    </div>
  </div>
</Layout>
