---
---

<div class="row">
  <div class="jumbotron w100">
    <h1 class="display-5">3<sup>rd</sup>-5<sup>th</sup> November 2023</h1>
    <p>Booking will open Wednesday 14<sup>th</sup> June 2023 at 7pm (UK time)</p>
  </div>
</div>
<style>
  .jumbotron {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0;
    background-color: #e9ecef;
  }
</style>
