---
---

<div class="row">
  <div class="jumbotron w100">
    <h1 class="display-5">1<sup>st</sup>-3<sup>rd</sup> November 2024</h1>
    <p>
      Booking will open Thursday 27<sup>th</sup> June 2024 at 7pm (UK time)
    </p>
  </div>
</div>
<style>
  .jumbotron {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0;
    background-color: #e9ecef;
  }
</style>
