---
import { TICKET_BOOKING_LINK, TICKET_BOOKING_LIVE } from '../constants';
---

<div class="row">
  <div class="jumbotron w100">
    <h1 class="display-5">6<sup>th</sup>-8<sup>th</sup> November 2026</h1>
    {
      TICKET_BOOKING_LIVE && (
        <a
          type="button"
          role="button"
          class="btn btn-primary btn-lg skint-button mx-5"
          href={TICKET_BOOKING_LINK}
          target="_blank"
        >
          Book your tickets here!
        </a>
      )
    }
  </div>
</div>

<style>
  .jumbotron {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0;
    background-color: #e9ecef;
  }
</style>
