---
---

<div class="container">
  <div id="mailing-list-signup">
    <div style="font-weight:bold; text-align: center">
      Subscribe to our mailing list
    </div>
    <form
      action="https://cardinalslates.co.uk/sendy/subscribe"
      method="POST"
      accept-charset="utf-8"
    >
      <div style="display:none;">
        <label for="hp">HP</label>
        <input type="text" name="hp" id="hp" />
      </div>
      <input type="hidden" name="list" value="i892892Bfhu763AVmklTXjnILwPg" />
      <input type="hidden" name="subform" value="yes" />
      <div class="row gx-1">
        <div class="col-sm-4 mb-1">
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            placeholder="Name"
          />
        </div>
        <div class="col mb-1">
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            placeholder="Email"
          />
        </div>
        <div class="col-sm-auto d-flex justify-content-center">
          <button
            type="submit"
            class="btn btn-primary mb-2"
            name="submit"
            id="mailing-list-submit"
            value="Subscribe"
          >
            Subscribe
          </button>
        </div>
      </div>
    </form>

    <style lang="scss">
      #mailing-list-submit {
        background-color: $skint-highlight !important;
      }

      #mailing-list-signup {
        margin: 1rem auto;
      }
    </style>
  </div>
</div>
